{% extends "app/base/base.html" %}
{% load static %}
{% block main-content %}

<!--== Page Title Area Start ==-->
<section id="page-title-area">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 m-auto text-center">
            <div class="page-title-content">
               <h1 class="h2">About Us</h1>
            </div>
         </div>
      </div>
   </div>
</section>
<!--== Page Title Area End ==-->
<section style=" padding:30px 0 20px 0;">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <h2>Few words about our company</h2>
            <p><em>Our team provides services across the globe. Our team of experts works as a pro to resolve all of your electronic device's problems, no matter it is a job of software installation, or maintenance of the big home appliances. Right from the beginning, our experts have been very careful in providing the services that are effective. Our team works day & night so as to ease the customers with their issues. Customers can easily reach one of our experts via contacting our Geek Squad Tech Support Number. Our helpline service is readily available to bring customers back to comfort.</em></p>
            <p>Geek Squad Support have separate teams handle the snags for wearable technologies, hardware, and software and a separate bunch of professionals for fixing errors with play stations and game devices. There may be a myriad number of problems affecting your gadgets. Many times, it is seen support period for gadget expires or the problem is outside the scope of the vendor. You need not worry about any of the cases. Our experts are there to provide you with their assistance and the best ever Geek Squad Tech Support.</p>
         </div>
      </div>
   </div>
</section>
<!--== Committee Page Content Start ==-->
<section id="page-content-wrap">
   <div class="about-page-content-wrap section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-11 m-auto">
               <!-- Single about text start -->
               <div class="single-about-text">
                  <img src="{% static "assets/img/techsupport.jpg" %}" alt="About" class="img-fluid img-left" style="filter: none !important;">
                  <h2 class="h3">Tech Support</h2>
                  <p style="font-size:19px;"><strong>How Do Geek Squad Tech Support Experts Help You Out with Your Devices?</strong></p>
                  <p>You can rely on Geek Squad Tech Support Number for the reliable assistance completely for catering to all your device hitches. They are a trustable brand which is known for rendering quality technical services and support to millions of customers across the globe. There are many vendors in the market delivering the services for your broken devices. But no one can stand beside as Geek Squad Support does. Below are the key benefits for choosing Geek Squad for your appliance needs.</p>
                  <ul class="checklist">
                     <li>Get on-call, in-store, in-home, online support, and face to face agent support for your devices whenever and wherever you require.</li>
                     <li>You can reach the team 24/7, 365 days anytime as per your convenience.</li>
                     <li>The brand of device is of no concern to technically efficient experts. They are well versed in tackling any of your device issue irrespective of brand.</li>
                     <li>The experts at Geek Squad Tech Support Number strive hard and work in direction to attain 100% client satisfaction.</li>
                     <li>They provide you with best protection plans to cover your devices against accidental damage.</li>
                     <li>The tech experts at Geek Squad help you avoid costly repairs and replacements.</li>
                     <li>Enjoy added benefits and exclusive perks and savings by opting for exclusive plans at Geek Squad Tech Support Number.</li>
                  </ul>
               </div>
               <!-- Single about text End -->
               <!-- Single about text start -->
               <div class="single-about-text">
                  <img src="{% static "assets/img/24service.jpg" %}" alt="About" class="img-fluid img-right">
                  <h2 class="h3">24/7 Service</h2>
                  <p style="font-size:19px;"><strong>Our Experts Serve You 24/7 in Unmatched Ways</strong></p>
                  <p>How Do Geek Squad Tech Support Experts Help You Out with Your Devices?</p>
                  <ul class="checklist">
                     <li>Great support for the devices</li>
                     <li>All day & every day accessibility of our experts on call and visiting benefit</li>
                     <li>Advanced & flexible instruments</li>
                     <li>Active-talk benefit</li>
                     <li>Replacement & exchange benefit</li>
                     <li>Insurance guarantee</li>
                     <li>Customer- accommodating condition</li>
                  </ul>
               </div>
               <!-- Single about text End -->
               <!-- Single about text start -->
               <div class="single-about-text">
                  <img src="{% static "assets/img/ourexport.jpg" %}" alt="About" class="img-fluid img-left">
                  <h2 class="h3">
                     Our Experts
                  </h2>
                  <p style="font-size:19px;"><strong>What are All the Ways of Connecting with Our Experts?</strong></p>
                  <p style="padding-bottom:25px;">Geek Squad Tech Support have made it fairly easy for the clients to reach them. They provide round the clock support and effective means to get in touch. Below are the ways you can get connected with team to address your bothering device concerns,</p>
                  <ul class="checklist">
                     <li>You can address all your device concerns by just a phone call away. Get the assistance for the best technical services at Geek Squad Tech
                     <li>Support Number.</li>
                     <li>If somehow you are not able to connect us via phone line, you catch our online representatives via Live Chat option.</li>
                     <li>Another way of reaching the experts is that you can drop an email at Geek Squad Support. They will get back to you in a short while.</li>
                     <li>You can avail online remote assistance for your device concerns as well. So, don't get stressed with any of your device issues. Just reach the tech professionals at Geek Squad Tech Support Number.</li>
                     <li>
                        24/7 Service
                        Our Experts Serve You 24/7 in Unmatched Ways
                     </li>
                     <li>How Do Geek Squad Tech Support Experts Help You Out with Your Devices?</li>
                     Great support for the devices
                     All day & every day accessibility of our experts on call and visiting benefit
                     <li>
                        Advanced & flexible instruments
                        Active-talk benefit
                     </li>
                     <li>Replacement & exchange benefit</li>
                     <li>
                        Insurance guarantee
                        Customer- accommodating condition
                     </li>
                  </ul>
               </div>
               <!-- Single about text End -->
            </div>
         </div>
      </div>
   </div>
</section>

{% endblock main-content %}