{% extends "app/base/base.html" %}
{% load static %}
{% block main-content %}

<!--== Page Title Area Start ==-->
<section id="page-title-area">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 m-auto text-center">
            <div class="page-title-content">
               <h1 class="h2">CONTACT GEEK TECH SQUAD</h1>
            </div>
         </div>
      </div>
   </div>
</section>
<!--== Page Title Area End ==-->
<section id="page-content-wrap">
   <div class="contact-page-wrap section-padding">
      <div class="container">
         <div id="Contentplaceholder2_C013_Col00" class="sf_colsIn customer_content_container clearfix" data-sf-element="Container" data-placeholder-label="Container">
            <div class="row" data-sf-element="Row">
               <div id="Contentplaceholder2_C042_Col00" class="sf_colsIn col-md-12 inner_wrapper" data-sf-element="Column 1" data-placeholder-label="Column 1">
                  <div class="row" data-sf-element="Row">
                     <div id="Contentplaceholder2_C015_Col00" class="sf_colsIn col-md-4 padding_none" data-sf-element="Column 1" data-placeholder-label="Column 1">
                        <div style="margin-bottom: 48px;">
                           <div class="sfContentBlock sf-Long-text">
                              <h4 style="font-size: 20px;">
                                 <span class="sf-Image-wrapper" data-sfref="[images|librariesProvider10]6b25f21a-71db-4a1c-b1c1-2912e78194c2">
                                 <img alt="file-claim" data-displaymode="Original" src="{% static "assets/img/file-claim.png" %}" style="width: 60px;" title="file-claim"></span>
                                 File a Claim<br>
                              </h4>
                           </div>
                        </div>
                     </div>
                     <div id="Contentplaceholder2_C015_Col01" class="sf_colsIn col-md-4 padding_none" data-sf-element="Column 2" data-placeholder-label="Column 2">
                        <div style="margin-bottom: 48px;">
                           <div class="sfContentBlock sf-Long-text">
                              <h4 style="font-size: 20px;">
                                 <span class="sf-Image-wrapper" data-sfref="[images|librariesProvider10]62093a23-a7d5-49b5-b306-7cf3cbdb557d">
                                 <img alt="Check the Status of a Claim" data-displaymode="Original" src="{% static "assets/img/status-of-claim.png" %}" style="width: 60px;" title="Check the Status of a Claim"></span>
                                 Check the Status of a Claim
                              </h4>
                           </div>
                        </div>
                     </div>
                     <div id="Contentplaceholder2_C015_Col02" class="sf_colsIn col-md-4 padding_none" data-sf-element="Column 3" data-placeholder-label="Column 3">
                        <div style="margin-bottom: 48px;">
                           <div class="sfContentBlock sf-Long-text">
                              <h4 style="font-size: 20px;">
                                 <span class="sf-Image-wrapper" data-sfref="[images|librariesProvider10]8c7840ca-2074-48fd-b981-6ad9ad17ad1e">
                                 <img alt="Check the Status of a Claim" data-displaymode="Original" src="{% static "assets/img/make-payment.png" %}" style="width: 60px;" title="Check the Status of a Claim"></span>
                                 Make a order Payment
                              </h4>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row" data-sf-element="Row">
                     <div id="Contentplaceholder2_C016_Col00" class="sf_colsIn col-md-4 padding_none" data-sf-element="Column 1" data-placeholder-label="Column 1">
                        <div>
                           <div class="sfContentBlock sf-Long-text">
                              <h4 style="font-size: 20px;">
                                 <span class="sf-Image-wrapper" data-sfref="[images|librariesProvider10]ee424c5b-2e69-4780-9563-bd24b25393b0">
                                 <img alt="Change Your Payment Method" data-displaymode="Original" src="{% static "assets/img/payment-update.png" %}" style="width: 60px;" title="Change Your Payment Method"></span>
                                 Change Your Payment Method
                              </h4>
                           </div>
                        </div>
                     </div>
                     <div id="Contentplaceholder2_C016_Col01" class="sf_colsIn col-md-4 padding_none" data-sf-element="Column 2" data-placeholder-label="Column 2">
                        <div>
                           <div class="sfContentBlock sf-Long-text">
                              <h4 style="font-size: 20px;">
                                 <span class="sf-Image-wrapper" data-sfref="[images|librariesProvider10]37589fdd-f467-4292-b16c-70c9d116efec">
                                 <img alt="Repair Status" data-displaymode="Original" src="{% static "assets/img/repair-status.png" %}" style="width: 60px;" title="Repair Status"></span>
                                 Repair Status
                              </h4>
                           </div>
                        </div>
                     </div>
                     <div id="Contentplaceholder2_C016_Col02" class="sf_colsIn col-md-4 padding_none" data-sf-element="Column 3" data-placeholder-label="Column 3">
                        <div>
                           <div class="sfContentBlock sf-Long-text">
                              <h4 style="font-size: 20px;"><span class="sf-Image-wrapper" data-sfref="[images|librariesProvider10]765dd83f-f4c1-4624-98b2-d23fc0284536">
                                 <img alt="FAQ" data-displaymode="Original" height="50" src="{% static "assets/img/faq.png" %}" style="width: 60px;" style="width: auto; padding: 0px 8px;" title="FAQ" width="auto"></span><a href="ContactCancelAndRefund.aspx.html">Any Proble for Cancel & Refund?</a>
                              </h4>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row" data-sf-element="Row">
                     <div id="Contentplaceholder2_C017_Col00" class="sf_colsIn col-md-4 padding_none" data-sf-element="Column 1" data-placeholder-label="Column 1">
                     </div>
                     <div id="Contentplaceholder2_C017_Col01" class="sf_colsIn col-md-4 padding_none" data-sf-element="Column 2" data-placeholder-label="Column 2">
                     </div>
                     <div id="Contentplaceholder2_C017_Col02" class="sf_colsIn col-md-4 padding_none" data-sf-element="Column 3" data-placeholder-label="Column 3">
                     </div>
                  </div>
                  <div id="Contentplaceholder2_C018_Col00" class="sf_colsIn col-md-12 notes" data-sf-element="Container" data-placeholder-label="Container">
                     <div>
                        <div class="sfContentBlock sf-Long-text" style="margin: 40px 0 40px 0;">
                           <p class="mt-20">Still can’t find what you are looking for? Get in touch with our Customer Service Team - they are ready and willing to help!</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row" data-sf-element="Row">
               <div id="Contentplaceholder2_C014_Col00" class="sf_colsIn col-md-12 padding_none" data-sf-element="Column 1" data-placeholder-label="Column 1">
                  <div class="row" data-sf-element="Row">
                     <div id="Contentplaceholder2_C019_Col00" class="sf_colsIn col-md-6 padding_none" data-sf-element="Column 1" data-placeholder-label="Column 1">
                        <div id="Contentplaceholder2_C020_Col00" class="sf_colsIn contact-container" data-sf-element="Container" data-placeholder-label="Container">
                           <div id="Contentplaceholder2_C031_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Container">
                              <div>
                                 <div class="sfContentBlock sf-Long-text">
                                    <h3><span class="icon">1</span><span>Contact our Experts<br>
                                       <span>24 Hours a Day, 7 Days a Week</span><br>
                                       1-8XX-GEEKSQUAD<br>
                                       <a href="tel:"></a></span>
                                    </h3>
                                 </div>
                              </div>
                           </div>
                           <div id="Contentplaceholder2_C033_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Container">
                              <div>
                                 <div class="sfContentBlock sf-Long-text">
                                    <h3><span class="icon">2</span><span>Press 1<br>
                                       <span>for service in English</span><br>
                                       Press 2<br>
                                       <span>for service in other language</span></span>
                                    </h3>
                                 </div>
                              </div>
                           </div>
                           <div id="Contentplaceholder2_C032_Col00" class="sf_colsIn last" data-sf-element="Container" data-placeholder-label="Container">
                              <div>
                                 <div class="sfContentBlock sf-Long-text">
                                    <h3><span class="icon">3</span><span class="font-light ">Get connected with the right Customer to our Geek Squad Expert</span></h3>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div id="Contentplaceholder2_C019_Col01" class="sf_colsIn col-md-6" data-sf-element="Column 2" data-placeholder-label="Column 2">
                        <div id="Contentplaceholder2_C021_Col00" class="sf_colsIn phone-instructions" data-sf-element="Container" data-placeholder-label="Container">
                           <div>
                              <div class="sfContentBlock sf-Long-text">
                                 <h3>Phone Instructions <span>Press</span></h3>
                                 <ul>
                                    <li><span><strong>Billing and plan or membership changes</strong><br>
                                       For billing or to make changes to your Geek Squad plan or membership</span> <span>1</span>
                                    </li>
                                    <li><span><strong>In-home service</strong><br>
                                       To book an in-home service or reschedule an appointment</span> <span>2</span>
                                    </li>
                                    <li><span><strong>File a claim</strong><br>
                                       To make a claim or follow up on an existing claim</span> <span>3</span>
                                    </li>
                                    <li><span><strong>Technical support</strong><br>
                                       For technical support and troubleshooting</span> <span>4</span>
                                    </li>
                                    <li><span><strong>Assured Living Services</strong><br>
                                       For assistance with health and wellness monitoring packages</span> <span>5</span>
                                    </li>
                                    <li><span><strong>Report for Scam</strong><br>
                                       For any type of scam report Geek Squad.</span> <span>6</span>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="contact-content-inner">
                  <div class="row">
                     <div class="col-lg-5">
                        <!-- Map Area Start -->
                        <div class="">
                           <img src="{% static "assets/img/contact.jpg" %}" class="img-fluid">
                        </div>
                        <!-- Map Area End -->
                     </div>
                     <div class="col-lg-6 m-autos">
                        <div class="contact-form-wrap">
                           <h3 style="line-height: 1.3em;">LET US HELP YOU.</h3>
                           <form action="" method="POST">
                            {% csrf_token %}
                           <div  id="">
                              <div class="row">
                                 <div class="col">
                                    <div class="form-group">
                                       <label for="cbxname">Name</label>
                                       <input name="name"  type="text" required="" class="form-control">
                                    </div>
                                 </div>
                                 <div class="col">
                                    <div class="form-group">
                                       <label for="cbxemail">Mobile No</label>
                                       <input name="mobile"  type="number" required="" class="form-control">
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col">
                                    <div class="form-group">
                                       <label for="cbxname">Email Id</label>
                                       <input name="Email"  type="email" required="" class="form-control">
                                    </div>
                                 </div>
                                 <div class="col">
                                    <div class="form-group">
                                       <label for="cbxname">Address</label>
                                       <input name="Address"  type="text" required="" class="form-control">
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col">
                                    <div class="form-group">
                                       <label for="cbxname">Requirement</label>
                                       <textarea name="Requirement" rows="2" cols="20"  type="text" required="" class="form-control">
                                       </textarea>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col">
                                    <div class="form-group"> 
                                       <input type="submit"  value="SUBMIT"  class="btn btn-reg">
                                    </div>
                                 </div>
                              </div>
                              {% comment %} <div class="row">
                                 <div id="ContentPlaceHolder1_divResult" class="col">
                                 </div>
                              </div> {% endcomment %}
                           </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

{% endblock main-content %}