{% extends "app/base/base.html" %}
{% block main-content %}
{% load static %}
{% comment %} <div id="divImage" class="modal1">
   <div class="modal1-content">
      <div style="width: 100%;"><i class="fa fa-close" onclick="ShowHide('divImage');" style="float: right; cursor: pointer; padding-right: 5px; padding-top: 5px;"></i></div>
      <br>
      <img src="{% static "images/covid.jpeg" %}" style="width: 100%;">
   </div>
</div> {% endcomment %}
<!--== Slider Area Start ==-->
<section id="slider-area">
   <div class="slider-active-wrap owl-carousel text-center text-md-left">
      <!-- Single Slide Item Start -->
      <div class="single-slide-wrap slide-bg-1">
         <div class="container">
            <div class="row">
               <div class="col-lg-9">
                  <div class="slider-content">
                     <h1 class="text-uppercase"></h1>
                     <h3 class="lead"></h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Single Slide Item End -->
      <!-- Single Slide Item Start -->
      <div class="single-slide-wrap slide-bg-2">
         <div class="container">
            <div class="row">
               <div class="col-lg-9">
                  <div class="slider-content">
                     <h1 class="text-uppercase"></h1>
                     <h3 class="lead"></h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Single Slide Item End -->
      <!-- Single Slide Item Start -->
      <!-- Single Slide Item End -->
   </div>
   <!-- Social Icons Area Start -->
   <div class="social-networks-icon">
      <ul>
         <li><a href="#"><i class="fa fa-facebook"></i><span>7.2k Likes</span></a></li>
         <li><a href="#"><i class="fa fa-twitter"></i><span>3.2m Followers</span></a></li>
         <li><a href="#"><i class="fa fa-pinterest"></i><span>7.2k Likes</span></a></li>
         <li><a href="#"><i class="fa fa-youtube"></i><span>2.2k Subscribers</span></a></li>
      </ul>
   </div>
   <!-- Social Icons Area End -->
</section>
<!--== Slider Area End ==-->
<!--== Upcoming Event Area Start ==-->
<section id="upcoming-area">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="upcoming-event-wrap">
               <div class="up-event-titile">
                  <h3>Testimonials</h3>
               </div>
               <div id="ContentPlaceHolder1_divTestimonial" class="upcoming-event-content owl-carousel">
                  <!-- No 1 Event -->
                  <div class="single-upcoming-event">
                     <div class="row">
                        <div class="col-lg-2">
                           <div class="up-event-thumb">
                              <img src="{% static "assets/img/face.jpg" %}" class="img-fluid" alt="Upcoming Event">
                           </div>
                        </div>
                        <div class="col-lg-10">
                           <div class="display-table">
                              <div class="display-table-cells">
                                 <div class="up-event-text">
                                    <h3>"The geek squad members are always very professional, listen intently and ask questions until they thoroughly understand my situation. I have never left the store without the job being completely done to my satisfaction."</h3>
                                    <p><b>Perry Allen Eckhoff..</b></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="single-upcoming-event">
                     <div class="row">
                        <div class="col-lg-2">
                           <div class="up-event-thumb">
                              <img src="{% static "assets/img/face.jpg" %}" class="img-fluid" alt="Upcoming Event">
                           </div>
                        </div>
                        <div class="col-lg-10">
                           <div class="display-table">
                              <div class="display-table-cells">
                                 <div class="up-event-text">
                                    <h3>"The geek squad is an exceptionally good value. I was impressed by the professionalism and quality of their work. I only use them to service my computers because they always do a better job than in-house personnel"</h3>
                                    <p><b>Randy Frey-Hawkins</b></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- partial -->
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--== Upcoming Event Area End ==-->
<section id="about-area" class="section-padding">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h4 style="text-align: center; padding-bottom: 30px;"><span style="color: #FF9933;">----------------------</span> NO ONE STANDS BEHIND YOU LIKE GEEK SQUAD <span style="color: #FF9933;">----------------------</span> </h4>
         </div>
         <div class="col-md-1"></div>
         <div class="col-md-2">
            <div style="border-right: dotted #cccccc 1px; padding-left: 10px;">
               <h5 style="text-align: center;">INSTALL</h5>
               <p style="text-align: center; line-height: 1.3em; font-size: 13px; padding-right: 8px;">WE'LL DELIVER YOUR PRODUCT AND GET IT UP AND RUNNING</p>
            </div>
         </div>
         <div class="col-md-2">
            <div style="padding-left: 10px; padding-right: 10px; border-right: dotted #cccccc 1px;">
               <h5 style="text-align: center;">SET UP</h5>
               <p style="text-align: center; line-height: 1.3em; font-size: 13px; padding-right: 8px;">WE'LL SET UP YOUR TECH AND SHOW YOU HOW TO USE IT</p>
            </div>
         </div>
         <div class="col-md-2">
            <div style="border-right: dotted #cccccc 1px; padding-right: 10px;">
               <h5 style="text-align: center;">PROTECT</h5>
               <p style="text-align: center; line-height: 1.3em; font-size: 13px; padding-right: 8px;">EXTEND YOUR WARRANTY AND PROTECT YOUR PURCHASE</p>
            </div>
         </div>
         <div class="col-md-2">
            <div style="border-right: dotted #cccccc 1px; padding-left: 10px;">
               <h5 style="text-align: center;">SUPPORT</h5>
               <p style="text-align: center; line-height: 1.3em; font-size: 13px; padding-right: 8px;">GET QUESTIONS ANSWERED AND PROBLEMS SOLVED 24/7/365</p>
            </div>
         </div>
         <div class="col-md-2">
            <div style="padding-left: 10px;">
               <h5 style="text-align: center;">REPAIR</h5>
               <p style="text-align: center; line-height: 1.3em; font-size: 13px; padding-right: 8px;">WE'LL FIX YOUR CELL PHONE AND COMPUTER, NO MATTER WHERE YOU BOUGHT THEM</p>
            </div>
         </div>
         <div class="col-md-1"></div>
      </div>
   </div>
</section>
<!--== About Area Start ==-->
<section id="about-area" class="section-padding">
   <div class="container">
      <div class="row">
         <div class="col-md-9">
            <div style="background-color: #333333; height: 30px; line-height: 30px; color: #FFFFFF; text-align: center;">Choose Your Geek Squad Service by Category</div>
            <div style="background-color: #CCCCCC; padding: 10px;">
               <div class="row" style="padding-left: 60px;">
                  <div class="cols-md-2" style="text-align: center;">
                     <img src="{% static "assets/img/1.png" %}" style="width: 130px;" class="img-fluid"><br>
                     Appliances
                  </div>
                  <div class="cols-md-2" style="text-align: center;">
                     <img src="{% static "assets/img/2.png" %}" style="width: 130px;" class="img-fluid"><br>
                     Camera & Camcorders
                  </div>
                  <div class="cols-md-2" style="text-align: center;">
                     <img src="assets/img/3.png" style="width: 130px;" class="img-fluid"><br>
                     Car Electronics
                  </div>
                  <div class="cols-md-2" style="text-align: center;">
                     <img src="{% static "assets/img/4.png" %}" style="width: 130px;" class="img-fluid"><br>
                     Cell Phones
                  </div>
                  <div class="cols-md-2" style="text-align: center;">
                     <img src="{% static "assets/img/5.png" %}" style="width: 130px;" class="img-fluid"><br>
                     Computers & Tablets
                  </div>
                  <div class="cols-md-2" style="text-align: center;">
                     <img src="{% static "assets/img/6.png" %}" style="width: 130px;" class="img-fluid"><br>
                     Portable Audio
                  </div>
                  <div class="cols-md-2" style="text-align: center;">
                     <img src="{% static "assets/img/7.png" %}" style="width: 130px;" class="img-fluid"><br>
                     Smart Home
                  </div>
                  <div class="cols-md-2" style="text-align: center;">
                     <img src="{% static "assets/img/8.png" %}" style="width: 130px;" class="img-fluid"><br>
                     TV & Home Theater
                  </div>
                  <div class="cols-md-2" style="text-align: center;">
                     <img src="{% static "assets/img/9.png" %}" style="width: 130px;" class="img-fluid"><br>
                     Video Gaming
                  </div>
               </div>
            </div>
            <div style="background-color: #333333; margin-top: 30px; height: 30px; line-height: 30px; color: #FFFFFF; text-align: center;">We're ready to help wherever, whenever.</div>
            <div style="background-color: #CCCCCC; padding: 30px;">
               <h5>Geek Squad</h5>
               <h2 style="line-height: 1em;">Total Tech Support</h2>
               <h4 style="line-height: 1.3em;">Save 20% on Geek Squad Protection* with a Total Tech Support membership.</h4>
               <p style="text-align: center; line-height: 1.3em; font-size: 13px; padding-right: 8px;">Enjoy peace of mind at a lower price. Get 20% off Geek Squad Protection so you're covered when your warranty comes up short. Meet Total Tech Support, a membership dedicated to supporting all the tech in your home,no matter where or when you bought it.</p>
               <p><a href="Learn_about_tech_support.aspx.html">Learn about Total Tech Support ›</a></p>
            </div>
            <div style="margin-top: 30px;">
               <img src="{% static "assets/img/home_gs.png" %}" class="img-fluid">
            </div>
            <div class="row" style="margin-top: 30px;">
               <div class="col-md-4">
                  <div>
                     <h5 style="line-height: 1.3em;">Geek Squad </h5>
                     <p>In 2002, Geek Squad became part of Best Buy, and together we've provided trusted, expert service for millions of customers.</p>
                     <p><a href="GeekHistory.aspx.html">Read about Geek Squad Service History ›</a></p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div>
                     <h5 style="line-height: 1.3em;">Strength in Numbers</h5>
                     <p>You'll find Geek Squad in every Best Buy store, with more than 20,000 Agents across the country ready to help.</p>
                     <p><a href="#">Read about Geek Squad history ›</a></p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div>
                     <h5 style="line-height: 1.3em;">Expert Repair</h5>
                     <p>
                        We can repair your computer and laptop, no matter where you bought them.
                        If you have Total Tech Support or Geek Squad Protection, we can repair cell phone and home appliances right in your home..
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div style="background-color: #333333; height: 30px; line-height: 30px; color: #FFFFFF; text-align: center;">Getting Help Is Easy</div>
            <div style="background-color: #CCCCCC; padding: 10px;">
               <div style="font-size: 17px; padding: 10px 0 10px 0; font-weight: bold; text-align: center; color: #000000;">
                  <img src="{% static "assets/img/chat_img.png" %}" width="30" height="20">
                  Online & Phone
               </div>
               <p style="font-size: 13px; text-align: center; line-height: 1.3em;">Need something fixed ASAP? Have questions? Agents are available 24/7.</p>
               <div style="text-align: center;"><a href="#page-content-wrap" class="chat">Chat with an Agents</a></div>
               <div style="text-align: center;">
                  or<br>
                  Call 
               </div>
               <p style="font-size: 13px; text-align: center; line-height: 1.3em; padding-top: 15px;">Need something fixed ASAP? Have questions? Agents are available 24/7.</p>
               <hr>
               <div style="font-size: 17px; padding: 10px 0 10px 0; font-weight: bold; text-align: center; color: #000000;">
                  <img src="{% static "assets/img/store.png" %}" width="30" height="20">
                  In Store
               </div>
               <p style="font-size: 13px; text-align: center; line-height: 1.3em;">Need something fixed ASAP? Have questions? Agents are available 24/7.</p>
               <div style="text-align: center;"><a href="#page-content-wrap" class="chat">Make an Appointment</a></div>
               <p style="font-size: 13px; text-align: center; line-height: 1.3em; padding-top: 15px;">To make an Appointment, you need to call our Expert and solve your tech related problems.</p>
               <div style="text-align: center; margin-bottom: 20px;"><a href="OrderandClaim.aspx.html" class="chat">Track Your Order</a></div>
               <hr>
               <div style="font-size: 17px; padding: 10px 0 10px 0; font-weight: bold; text-align: center; color: #000000;">
                  <img src="{% static "assets/img/home_img.png" %}" width="30" height="20">
                  In Home
               </div>
               <p style="font-size: 13px; text-align: center; line-height: 1.3em; padding-top: 15px;">We can set up your products, help you use them, and diagnose any issues.</p>
               <div style="text-align: center; margin-bottom: 20px;">Call </div>
               <hr>
            </div>
         </div>
      </div>
   </div>
</section>
<!--== About Area End ==-->
<!--== FunFact Area Start ==-->
<section id="funfact-area">
   <div class="container-fluid">
      <div class="row text-center">
         <!--== Single FunFact Start ==-->
         <div class="col-lg-3 col-sm-6">
            <div class="single-funfact-wrap">
               <div class="funfact-icon">
                  <img src="assets/img/fun-fact/user.svg" alt="Funfact">
               </div>
               <div class="funfact-info">
                  <h5 class="funfact-count">769</h5>
                  <p>Members</p>
               </div>
            </div>
         </div>
         <!--== Single FunFact End ==-->
         <!--== Single FunFact Start ==-->
         <div class="col-lg-3 col-sm-6">
            <div class="single-funfact-wrap">
               <div class="funfact-icon">
                  <img src="{% static "assets/img/fun-fact/picture.svg" %}" alt="Funfact">
               </div>
               <div class="funfact-info">
                  <h5 class="funfact-count">8725</h5>
                  <p>Customer</p>
               </div>
            </div>
         </div>
         <!--== Single FunFact End ==-->
         <!--== Single FunFact Start ==-->
         <div class="col-lg-3 col-sm-6">
            <div class="single-funfact-wrap">
               <div class="funfact-icon">
                  <img src="{% static "assets/img/fun-fact/event.svg" %}" alt="Funfact">
               </div>
               <div class="funfact-info">
                  <h5><span class="funfact-count">231</span>+</h5>
                  <p>Events</p>
               </div>
            </div>
         </div>
         <!--== Single FunFact End ==-->
         <!--== Single FunFact Start ==-->
         <div class="col-lg-3 col-sm-6">
            <div class="single-funfact-wrap">
               <div class="funfact-icon">
                  <img src="{% static "assets/img/fun-fact/medal.svg" %}" alt="Funfact">
               </div>
               <div class="funfact-info">
                  <h5><span class="funfact-count">32</span>+</h5>
                  <p>Awards</p>
               </div>
            </div>
         </div>
         <!--== Single FunFact End ==-->
      </div>
   </div>
</section>
<!--== FunFact Area End ==-->
<!--== Blog Area Start ==-->
<section id="blog-area" class="section-padding">
   <div class="container">
      <!--== Section Title Start ==-->
      <div class="row">
         <div class="col-lg-12 text-center">
            <div class="section-title">
               <h2>Our Services</h2>
            </div>
         </div>
      </div>
      <!--== Section Title End ==-->
      <!--== Blog Content Wrapper ==-->
      <div class="row">
         <!--== Single Blog Post start ==-->
         <div class="col-lg-4 col-md-6">
            <article class="single-blog-post">
               <figure class="blog-thumb">
                  <div class="blog-thumbnail">
                     <img src="{% static "assets/img/service1.jpg" %}" alt="Blog" class="img-fluid">
                  </div>
               </figure>
               <div class="blog-content">
                  <h3>What we do?</h3>
                  <p>Geek Squad maintains your tech well by providing necessary support and services for your electronic appliances under one roof. We have separate teams at Geek Squad Support to look into PC, hardware, software, home and office equipment. Nearly all major electronic items are covered. Furthermore, the support team offers total tech support for extraordinary installation</p>
               </div>
            </article>
         </div>
         <!--== Single Blog Post End ==-->
         <!--== Single Blog Post start ==-->
         <div class="col-lg-4 col-md-6">
            <article class="single-blog-post">
               <figure class="blog-thumb">
                  <div class="blog-thumbnail">
                     <img src="{% static "assets/img/service2.jpg" %}" alt="Blog" class="img-fluid">
                  </div>
               </figure>
               <div class="blog-content">
                  <h3>Increased Life Span</h3>
                  <p>Give life to your devices here at Geek Squad. Tune up your appliances by availing the top-notch services and support available at Geek Squad Support. Enable your devices to serve you for longer tenure, thereby increasing the productivity and efficiency. Tackle the product issues in most effectual way and keep your devices up and running with unprecedented support available.</p>
               </div>
            </article>
         </div>
         <!--== Single Blog Post End ==-->
         <!--== Single Blog Post start ==-->
         <div class="col-lg-4 col-md-6">
            <article class="single-blog-post">
               <figure class="blog-thumb">
                  <div class="blog-thumbnail">
                     <img src="{% static "assets/img/service3.jpg" %}" alt="Blog" class="img-fluid">
                  </div>
               </figure>
               <div class="blog-content">
                  <h3>24/7 Round the clock Support</h3>
                  <p>Our Geek Squad experts are accessible 24/7,365 days. You can reach our Geek Squad Support experts for any device concern you face. They are well versed in resolving all minor/major issue your device encounters. Get on-call, in-store, online support, and face to face agent support and in-home service whenever and wherever you get stuck with your devices. Get access to our support.</p>
               </div>
            </article>
         </div>
         <!--== Single Blog Post End ==-->
      </div>
      <!--== Blog Content Wrapper ==-->
   </div>
</section>
{% endblock main-content %}