{% extends "app/base/base.html" %}
{% load static %}
{% block main-content %}

<!--== Slider Area Start ==-->
<section id="slider-area">
   <div class="slider-active-wrap owl-carousel text-center text-md-left">
      <!-- Single Slide Item Start -->
      <div class="single-slide-wrap slide-bg-5">
         <div class="container">
            <div class="row">
               <div class="col-lg-9">
                  <div class="slider-content">
                     <h1 class="text-uppercase"></h1>
                     <h3 class="lead"></h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Single Slide Item End -->
   </div>
   <!-- Social Icons Area Start -->
   <div class="social-networks-icon">
   </div>
   <!-- Social Icons Area End -->
</section>
<!--== Slider Area End ==-->
<!--== Upcoming Event Area Start ==-->
<section id="upcoming-area">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div style="padding-top: 50px;">
            </div>
         </div>
      </div>
   </div>
</section>
<!--== Upcoming Event Area End ==-->
<!--== About Area Start ==-->
<section id="about-area" class="section-padding">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div style="background-color: #333333; height: 30px; line-height: 30px; color: #FFFFFF; text-align: center;">Learn about Geek Squad Protection for your product.</div>
            <div style="padding: 10px;">
               <div class="row" style="padding-left: 60px;">
                  <div class="col-md-3" style="text-align: center;">
                     <img src="{% static "assets/img/5551.jpg" %}" style="height: 80px; width: 80px;" class="img-fluid"><br>
                     <a href="PlanProtectionComputerTablet.aspx.html">Computer</a>
                  </div>
                  <div class="col-md-3" style="text-align: center;">
                     <img src="{% static "assets/img/5552.jpg" %}" style="height: 80px; width: 80px;" class="img-fluid"><br>
                     Tablets
                  </div>
                  <div class="col-md-3" style="text-align: center;">
                     <img src="{% static "assets/img/5555.jpg" %}" style="height: 80px; width: 80px;" class="img-fluid"><br>
                     Monitors
                  </div>
                  <div class="col-md-3" style="text-align: center;">
                     <img src="{% static "assets/img/5556.jpg" %}" style="height: 80px; width: 80px;" class="img-fluid"><br>
                     Printers and scanners
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--== Committee Page Content Start ==-->
<section id="page-content-wrap">
   <div class="contact-page-wrap section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="contact-content-inner">
                  <div class="row">
                     <div class="col-lg-5">
                        <!-- Map Area Start -->
                        <div class="">
                           <img src="{% static "assets/img/b1.jpg" %}" class="img-fluid">
                        </div>
                        <!-- Map Area End -->
                     </div>
                     <div class="col-lg-6 m-autos">
                        <div class="contact-form-wrap">
                           <h3 style="line-height: 1.3em;">Why choose Geek Squad Protection?</h3>
                           Geek Squad Agents are available by phone, in store, in home and 24/7 online.<br>
                           We have the expertise to repair thousands of products.<br>
                           We'll come to your home to repair TVs and major appliances.<br>
                           We offer a workmanship guarantee on all repairs.<br>
                           You can transfer your Plan when you sell or give someone your covered product.
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="page-content-wrap">
   <div class="about-page-content-wrap" style="padding: 20px;">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="row">
                  <h3 style="line-height: 1.3em; font-size: 23pt;">Getting help is easy with Geek Squad Protection.</h3>
                  <br>
                  &nbsp;<br>
                  <a href="#" class="btn-auth btn-auth-rev">Need to make a claim under Geek Squad Protection? </a>
                  <a href="#" class="btn-auth btn-auth-rev">Need to make a claim under your original warranty?</a>
                  &nbsp;<br>
                  During the original manufacturer's warranty period, most repairs will be handled by the manufacturer. Keep in mind that Geek Squad Protection often covers important repairs that your manufacturer warranty doesn't (like failure due to a power surge). 
                  &nbsp;<br>
                  If something goes wrong after the original manufacturer warranty ends, Geek Squad Protection takes care of any qualified repairs.
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="page-content-wrap">
   <div class="contact-page-wrap section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="contact-content-inner">
                  <div class="row">
                     <div class="col-lg-5">
                        <!-- Map Area Start -->
                        <div class="">
                           <img src="{% static "assets/img/b2.jpg" %}" class="img-fluid">
                        </div>
                        <!-- Map Area End -->
                     </div>
                     <div class="col-lg-6 m-autos">
                        <div class="contact-form-wrap">
                           <h3 style="line-height: 1.3em;">Disclosures.</h3>
                           <p>
                              When choosing Best Buy, your product will be delivered, installed or repaired by either Geek Squad or one of our authorized third-party contractors. We require our third-party contractors to conduct a background check on any person they hire to enter your home.
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

{% endblock main-content %}